.modal {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: black;
    display: block;
    width: 80%;
    height: 70%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
}


.display-block {
    display: block;
}

.display-none {
    display: none;
}
.close-button-container {

}
#x {
    position: sticky;
    background: red;
    color: white;
    top: 0px;
    right: 0px;
}

.diff-line {
    margin-left: 15px;
    font-weight: bold;
    color: whitesmoke;
}
.removed {
    color: darkred;
}

.added {
    color: forestgreen;
}
